*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Adicionado para incluir margens e preenchimentos no cálculo da largura */
}
body{
    background-color: rgba(175, 174, 252, 0.678);
}

header{
    text-align: center;
}

h1{
    padding: 15px;
}

a{
    text-decoration: none;
    margin-right: 10px;
    padding: 15px;
    font-size: 20px;
    color: blue;
}

.secao1{
    padding: 25px;
    text-align: center;position: relative; /* Adicionado para criar um contexto de posicionamento relativo */
}


.descricao-eternos{
    text-align: justify;
    padding: 10px;
    border: black 3px solid;
    font-size: 25px;
    margin-top: 20px;
}

h2{
    margin-bottom: 15px;
    font-size: 30px;
    
}

h4{
    margin-bottom: 15px;
    
}

.secao2{
    padding: 25px;
    text-align: center;
    
}

.video1, .video2, .video3{
    padding: 10px;
    width: auto;
    height: auto;  
       
} 

@media screen and (max-width: 480px) {
    /* Estilos para telas pequenas */
    .video1, .video2, .video3{
        width: 100%; /* Faz com que os vídeos ocupem 100% da largura em telas pequenas */
        max-width: none; /* Remove a largura máxima definida anteriormente */
    }
    .secao1 iframe{
        padding-bottom: 10%;
        width: 100%;
    }
}

@media screen and (min-width: 1000px) {
    .video1, .video2, .video3{
        padding: 10px;
        width: 700px;
        height: 320px;
    }
}

